body {
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.cell {
    padding: 50px;
    border: 1px solid;
}

.highlight {
    background-color: blue;
}