:root {
    --canvas: '';
}

body {
    display: flex;
    justify-content: center;
}

.btn {
    padding: 10px;
    margin: 50px;
    display: inline-block;
}

.container {
    display: grid;
    grid-template-columns: repeat(var(--canvas), auto);
}

.cell {
    padding: 10px;
    border: 1px solid;
}

.highlight {
    background-color: blue;
}